<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="/"> </ion-back-button>
    <ion-title>Checkbox</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Opc 1</ion-label>
    <ion-checkbox disabled="true"> </ion-checkbox>  
  </ion-item>
  <ion-item>
  <ion-label>Opc 2</ion-label>
  <ion-checkbox checked="true"></ion-checkbox>
  </ion-item>
  <ion-label>Opc 3</ion-label>
  <ion-checkbox color="primary"></ion-checkbox>
  <ion-label>Opc 4</ion-label>
  <ion-checkbox color="secondary"></ion-checkbox>
  <ion-label>Opc 5</ion-label>
  <ion-checkbox color="danger"></ion-checkbox>
  <ion-label>Opc 6</ion-label>
  <ion-checkbox color="light"></ion-checkbox>
  <ion-label>Opc 7</ion-label>
  <ion-checkbox color="dark"></ion-checkbox>
  <ion-list>
    <ion-item *ngFor="let entry of form">
      <ion-label>{{entry.val}}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="entry.isChecked" (ionChange)="checkValue($event)">
      </ion-checkbox>
  </ion-item> 
</ion-list>
</ion-content>