<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Componentes UI
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item button detail [routerLink]="['/action-sheet']">
      <ion-label>Action Sheet</ion-label>
    </ion-item>
    <ion-item button detail [routerLink]= "['/badges']">
      <ion-label>Badge</ion-label>
    </ion-item>
    <ion-item button detail [routerLink]= "['/buttons']">
      <ion-label>Button</ion-label>
    </ion-item>
    <ion-item button detail [routerLink]= "['/card']">
      <ion-label>Card</ion-label>
    </ion-item>
    <ion-item button detail [routerLink]= "['/checkbox']">
      <ion-label>Checkbox</ion-label>
    </ion-item>
    <ion-item button detail [routerLink]= "['/chip']">
      <ion-label>Chip</ion-label>
    </ion-item>
    <ion-item button detail [routerLink]= "['/datetime']">
      <ion-label>Datetime</ion-label>
    </ion-item>
    <ion-item button detail [routerLink]= "['/picker']">
      <ion-label>Picker</ion-label>
    </ion-item>
    <ion-item button detail>
      <ion-label>Action Button</ion-label>
    </ion-item>
    <ion-item button detail>
      <ion-label>Grid</ion-label>
    </ion-item>
    <ion-item button detail>
      <ion-label>Input</ion-label>
    </ion-item>
    <ion-item button detail>
      <ion-label>Media</ion-label>
    </ion-item>
    <ion-item button detail>
      <ion-label>Menu</ion-label>
    </ion-item>
    <ion-item button detail>
      <ion-label>Modal</ion-label>
    </ion-item>
    <ion-item button detail>
      <ion-label>PopOver</ion-label>
    </ion-item>
    <ion-item button detail>
      <ion-label>Progress Indicator</ion-label>
    </ion-item>
    <ion-item button detail>
      <ion-label>Radio</ion-label>
    </ion-item>
    <ion-item button detail>
      <ion-label>Range</ion-label>
    </ion-item>
    <ion-item button detail>
      <ion-label>Reorder</ion-label>
    </ion-item>
    <ion-item button detail>
      <ion-label>Searchbar</ion-label>
    </ion-item>
    <ion-item button detail>
      <ion-label>Segment</ion-label>
    </ion-item>
    <ion-item button detail>
      <ion-label>Select</ion-label>
    </ion-item>
    <ion-item button detail>
      <ion-label>Slides</ion-label>
    </ion-item>
    <ion-item button detail>
      <ion-label>Toast</ion-label>
    </ion-item>
    <ion-item button detail>
      <ion-label>Toogle</ion-label>
    </ion-item>
  </ion-list>
</ion-content>